body{
    /* background-image: url("../assets/mainPageImg.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #CAD183;
    /* background-position: center; */
}


.main-title{
    margin-top: 6rem;
    font-weight: bold;
    font-size: 55px;
    /* background-color: rgb(242, 216, 233); */
    padding: 1rem;
    border-radius: 5px;


}

.main-section{
    display: flex;
    justify-content: space-evenly;
    margin-top: 3rem;
    
}

.section-one {
    width: 60%;
}

.section-one p{
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    /* background-color: rgb(242, 216, 233); */
    padding: 2rem;
    border-radius: 5px;
}
