body {
    margin:0;
    /* padding: 0; */
    
    background-color: rgb(240, 231, 231);
    font-family: 'Lora', serif;
    
}

.main {
    display: flex;
    padding: 1.5rem;
    /* Dont define a width for it to go out of page */
    /* width: 100vw; */
    align-items: center;
    flex-direction: column;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 3px solid #66023C;
    background-color: #CAD183;

}


.firstLinks{
    display: flex;
    justify-content: space-around;  
    align-items: center;
    /* Need the width or else justify-content takes up as little space */
    width: 25%;
    font-family: 'Lora', sans-serif;
    
}


/* https://www.w3schools.com/css/css_link.asp */
.one:link, .one:visited, .two:link, .two:visited {
    /* background-color: #66023C; */
    
    color: #66023C;
    font-size: 20px;
    /* border:2px solid #66023C ; */
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px;
    font-weight: bold;

    /* color: rgb(220, 50, 192) */
}

/* mouse over link */
.one:hover, .one:active, .two:hover, .two:active, .xBtn:hover, .xBtn:active {
    background-color: #66023C;
    color: white;
  }
  

h1{
    color: #66023C;
    font-weight: bolder;
    font-family: 'Lora', serif;
}

.three{
    color: #66023C;
}

.three:active, .three:hover{
    color:maroon;
    background-color: none;
}


.iconBtn{
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    background-color: transparent !important;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
}

.iconBtn:hover,
.iconBtn:active,
.iconBtn:focus {
    background-color: transparent !important;
    box-shadow: none !important;
    outline: none !important;
    border: none !important;
    transition: none !important;
}

.searchItems{
    display: flex;
}



.bar .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: #66023C;
    padding-right: 20px;


}
  
.bar .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #66023C;
    /* margin-right: 20px; */

}
  
.bar .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: maroon;
}

.bar .MuiFormLabel-root{
    color: #66023C;
}

.bar .MuiInputLabel-root.Mui-focused {
    color: maroon;
}

.xBtn{
    margin-left: 10px;
    padding: 5px;
    margin-top: 4px;
    height: 30px;
    border: 1px solid #66023C;
    color: #66023C;
    background-color: white;
    border-radius: 5px;
}




/* h1 {
    margin: 10px;
    font-size: 40px;
    color: rgb(1, 1, 59);
}

.search {
    width: 30%;
}

ul li {
    font-size: 20px;
}  */